<ion-content>
  <ion-list>
    <ion-item>
      <h3>Lista de Incidencias</h3>
    </ion-item>

    <ion-card *ngFor="let item of incidencias" [color]="getColorCard(item.estadoNombre)">
      <ion-card-header>
        <ion-card-title> {{item.codigo}} - {{item.nombre}}</ion-card-title>
        <ion-card-subtitle>[{{item.fecha | date: 'dd-MM-YYYY HH:mm:ss'}}] {{item.usuarioReporta}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        {{item.descripcion}}
      </ion-card-content>

      <ion-card-content style="background-color: rgb(49, 140, 214); color: white;">
        <ion-label>
          Estado: {{item.estadoNombre}} <br>
          Fecha de actualización: [{{ item.fecha | date: 'dd-MM-YYYY HH:mm:ss' }}]
        </ion-label>
        <p>
          <strong>Comentario :</strong><br>
          {{ 'Ninguno'}}
        </p>
      </ion-card-content>
    </ion-card>

  </ion-list>
</ion-content>
